body {
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 4px;
  margin: 1rem auto;
  width: max-content;
}

.large-piece {
  background-color: lightcoral;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.piece {
  background-color: Bisque ;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
